<!DOCTYPE html>
<html>
<head>
  <title>Spina theme plain</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "spina_theme_plain/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
